@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main-menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
    margin: 0;
	padding: 0;
    color: #333;
    line-height: 1.5;
}

body {
    font-family: NanumSquare,Sans-serif;
}

.content {
    margin: 0 auto;
    width: 1200px;
}

.content .title {
    margin: 88px auto 100px;
}

.content .title.first, .content .title.second {
    margin-bottom: 50px;
}

.content .title.second {
    margin-top: 155px;
}

.content h2 {
    font-size: 50px;
    font-weight: 800;
    letter-spacing: -1.26px;
    line-height: 50px;
}

.content .title p {
    border-top: 1px solid #d2d2d2;
    margin-top: 20px;
    padding-top: 20px;
}

.content ul {
	list-style: none;
}

.content .list > ul {
    display: flex;
    gap: 20px;
}

.content .list li {
    box-shadow: 4px 6.9px 11px 0 rgba(0,0,0,.12);
    box-sizing: border-box;
    width: 285px;
    height: 424px;
    padding: 60px 25px 0;
    position: relative;
}

.content .list.first li:first-child {
    background: #CDF0EA;
}

.content .list.first li:nth-child(2) {
    background: #F9F9F9;
}

.content .list.first li:nth-child(3) {
    background: #F6C6EA;
}

.content .list.first li:last-child {
    background: #FAF4B7;
}

.content .list.second li:first-child {
    background: #CDF0EA;
    padding-top: 46px;
}

.content .list.second li:nth-child(2) {
    background: #F6C6EA;
    padding-top: 46px;
}

.content .list.second li:last-child {
    background: #FAF4B7;
    padding-top: 46px;
}

.content img {
    vertical-align: top;
}

.content .badge {
    display: block;
    padding-bottom: 16px;
}

.content .dark {
    background: #40210f;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    line-height: 15px;
    margin-top: 16px;
    padding: 4px 7px;
}

.content .light {
    background: #946134;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    line-height: 15px;
    margin-top: 16px;
    padding: 4px 7px;
}

.content .description {
    color: #1e1210;
    font-size: 15px;
    font-weight: 700;
    margin-top: 19px;
}

.content .list.second {
    padding-bottom: 60px;
}

.content .list.second .description {
    font-size: 17px;
    margin-top: 32px
}

.content .shot {
    bottom: 20px;
    right: 61px;
    position: absolute;
}

.content .coffee {
    bottom: 26px;
    right: 25px;
    position: absolute;
}

.content .list.second .coffee {
    bottom: 0;
    right: 0;
}

.content .information {
    align-items: center;
    display: flex;
    gap: 15px;
    margin-top: 40px;
}

.content .information > p {
    font-size: 13px;
    font-weight: 700;
}

.content .information span {
    color: #27620a;
}

.content .menu-box {
    margin: 0 auto;
    width: 1200px;
    position: relative;
}

.content nav {
    top: 0;
    width: 254px;
    height: 100%;
    left: 50%;
    /* margin-left: -600px; */
    position: absolute;
}

.content .menu-bar > ul {
    top: 120px;
    /* position: fixed; */
}

.content .menu-box::after {
    display: block;
    content: "";
    clear: both;
}

.content .menu-bar li {
    width: 185px;
}

.content a {
    text-decoration: none;
    font-family: Century Gothic,Apple SD Gothic Neo,Sans-serif;
    font-size: 20px;
    display: inline-block;
    padding: 17px 23px 17px 0;
}

.content a:hover {
    font-weight: 700;
}

.content a:hover::after {
    content: ">";
    right: 5px;
}

.content .menu-list {
    float: right;
    width: 930px;
}

.content .menu-list > ul {
    display: flex;
}

.content .menu-list li {
    background: #ececec;
    box-sizing: border-box;
    width: 300px;
    height: 475px;
    margin: 0 15px 15px 0;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
}

.content .menu-list img {
    width: 250px;
    height: 250px;
    margin-top: 50px;
}

.content .menu-list p {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 110px;
    line-height: 1.6;
    text-align: center;
    font-size: 15px;
    position: absolute;
}

.content .menu-list p b {
    display: block;
}